SOAP_ASSIGNMENT/Assignment/WebContent/wsdl/PersonImplementation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pack" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pack" xmlns:intf="http://pack" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pack" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="delete">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteResponse">
    <complexType>
     <sequence>
      <element name="deleteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createPerson">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="id" type="xsd:int"/>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createPersonResponse">
    <complexType>
     <sequence>
      <element name="createPersonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePerson">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="id" type="xsd:int"/>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePersonResponse">
    <complexType>
     <sequence>
      <element name="updatePersonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPersons">
    <complexType/>
   </element>
   <element name="addPersonsResponse">
    <complexType>
     <sequence>
      <element name="addPersonsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPersonDetails">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPersonDetailsResponse">
    <complexType>
     <sequence>
      <element name="getPersonDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllPersons">
    <complexType/>
   </element>
   <element name="getAllPersonsResponse">
    <complexType>
     <sequence>
      <element name="getAllPersonsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addPersonsRequest">

      <wsdl:part element="impl:addPersons" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteResponse">

      <wsdl:part element="impl:deleteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPersonsResponse">

      <wsdl:part element="impl:addPersonsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPersonDetailsRequest">

      <wsdl:part element="impl:getPersonDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPersonDetailsResponse">

      <wsdl:part element="impl:getPersonDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createPersonResponse">

      <wsdl:part element="impl:createPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonRequest">

      <wsdl:part element="impl:updatePerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonResponse">

      <wsdl:part element="impl:updatePersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPersonsResponse">

      <wsdl:part element="impl:getAllPersonsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteRequest">

      <wsdl:part element="impl:delete" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPersonsRequest">

      <wsdl:part element="impl:getAllPersons" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createPersonRequest">

      <wsdl:part element="impl:createPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PersonImplementation">

      <wsdl:operation name="delete">

         <wsdl:input message="impl:deleteRequest" name="deleteRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteResponse" name="deleteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createPerson">

         <wsdl:input message="impl:createPersonRequest" name="createPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:createPersonResponse" name="createPersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePerson">

         <wsdl:input message="impl:updatePersonRequest" name="updatePersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatePersonResponse" name="updatePersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPersons">

         <wsdl:input message="impl:addPersonsRequest" name="addPersonsRequest">

       </wsdl:input>

         <wsdl:output message="impl:addPersonsResponse" name="addPersonsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPersonDetails">

         <wsdl:input message="impl:getPersonDetailsRequest" name="getPersonDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPersonDetailsResponse" name="getPersonDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllPersons">

         <wsdl:input message="impl:getAllPersonsRequest" name="getAllPersonsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllPersonsResponse" name="getAllPersonsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PersonImplementationSoapBinding" type="impl:PersonImplementation">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="delete">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPersons">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPersonsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPersonsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPersonDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPersonDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPersonDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllPersons">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllPersonsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllPersonsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PersonImplementationService">

      <wsdl:port binding="impl:PersonImplementationSoapBinding" name="PersonImplementation">

         <wsdlsoap:address location="http://localhost:8080/Assignment/services/PersonImplementation"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
